In [7]:
import mysql.connector
con = mysql.connector.connect(
    host="localhost",
    user="root",
    password="password"
)
cursor = con.cursor()
query = "use DATASPARK_PROJECT"
cursor.execute(query)

In [9]:
# 1.	Demographic Distribution: Analyzing the distribution of customers based on gender, age (calculated from birthday), 
# location (city, state, country, continent).
# Here analysing the distribution of Male customers from Dallas, United States

query = """SELECT 
    CustomerKey, 
    Name,
    Gender,
    FLOOR(DATEDIFF(CURDATE(), Birthday) / 365.25) AS age, 
    City, 
    State_Customer, 
    Country_Customer, 
    Continent 
FROM 
    customers 
WHERE 
    Gender = 'Male' AND
    FLOOR(DATEDIFF(CURDATE(), Birthday) / 365.25) >= 20 AND
    FLOOR(DATEDIFF(CURDATE(), Birthday) / 365.25) <= 30 AND
    City = 'Dallas';"""
cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['CustomerKey', 'Name', 'Gender', 'age', 'City', 'State_Customer', 'Country_Customer', 'Continent']
(1233069, 'Lance Barton', 'Male', 23, 'Dallas', 'Texas', 'United States', 'North America')
(1462224, 'Tracy Richter', 'Male', 25, 'Dallas', 'Texas', 'United States', 'North America')
(1498245, 'Darrell Roe', 'Male', 22, 'Dallas', 'Texas', 'United States', 'North America')
(1501383, 'William Romriell', 'Male', 28, 'Dallas', 'Texas', 'United States', 'North America')
(1848776, 'Eugene Kyle', 'Male', 27, 'Dallas', 'Texas', 'United States', 'North America')
(2004240, 'Yamal Navarrete', 'Male', 23, 'Dallas', 'Texas', 'United States', 'North America')

In [10]:
# 2. Purchase Patterns: Identifing purchasing patterns such as average order value, frequency of purchases, 
# and preferred products.

query = """-- Calculate the total number of customers
WITH TotalCustomers AS (
    SELECT COUNT(*) AS TotalCustomerCount
    FROM customers
),

-- Calculate total order value and total number of products purchased by all customers
CustomerOrderStats AS (
    SELECT
        s.CustomerKey,
        SUM(p.Unit_Price_USD * s.Quantity) AS TotalOrderValue,
        SUM(s.Quantity) AS TotalProductsPurchased
    FROM
        sales s
        JOIN products p ON s.ProductKey = p.ProductKey
    GROUP BY s.CustomerKey
),

-- Calculate the name of the product with the highest number of purchases
MostPurchasedProduct AS (
    SELECT
        p.Product_Name,
        SUM(s.Quantity) AS TotalPurchases
    FROM
        sales s
        JOIN products p ON s.ProductKey = p.ProductKey
    GROUP BY p.Product_Name
    ORDER BY TotalPurchases DESC
    LIMIT 1
)

-- Final select to get the desired results
SELECT
    (SELECT SUM(cos.TotalOrderValue) FROM CustomerOrderStats cos) / (SELECT TotalCustomerCount FROM TotalCustomers) AS AverageOrderValuePerCustomer,
    (SELECT SUM(cos.TotalProductsPurchased) FROM CustomerOrderStats cos) / (SELECT TotalCustomerCount FROM TotalCustomers) AS AverageItemsPurchasedPerCustomer,
    (SELECT Product_Name FROM MostPurchasedProduct) AS MostPurchasedProduct;"""

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['AverageOrderValuePerCustomer', 'AverageItemsPurchasedPerCustomer', 'MostPurchasedProduct']
(Decimal('3652.265138'), Decimal('12.9541'), 'WWI Desktop PC2.33 X2330 Black')

In [11]:
# 3. Segmentation: Segment customers based on demographics and purchasing behavior to identify key customer groups.
# here we are finding customerkey, Name of customers who are from 'United States', is between 20-30 years old, 
# spends more than average order value per customer and who purchases more than average number of items purchased per customer.

query = '''WITH 
-- Calculate age
customer_age AS (
    SELECT 
        CustomerKey, 
        Name,
        FLOOR(DATEDIFF(CURDATE(), Birthday) / 365.25) AS Age
    FROM customers
),

-- Calculate average order value per customer
avg_order_value AS (
    SELECT 
        AVG(total_spent) AS AverageOrderValuePerCustomer
    FROM (
        SELECT 
            s.CustomerKey, 
            SUM(s.Quantity * p.Unit_Price_USD) AS total_spent
        FROM sales s
        JOIN products p ON s.ProductKey = p.ProductKey
        GROUP BY s.CustomerKey
    ) customer_totals
),

-- Calculate average items purchased per customer
avg_items_purchased AS (
    SELECT 
        AVG(total_items) AS AverageItemsPurchasedPerCustomer
    FROM (
        SELECT 
            CustomerKey, 
            SUM(Quantity) AS total_items
        FROM sales
        GROUP BY CustomerKey
    ) customer_items
),

-- Calculate total spent and items purchased per customer
customer_totals AS (
    SELECT 
        s.CustomerKey,
        SUM(s.Quantity) AS TotalQuantityPurchased,
        SUM(s.Quantity * p.Unit_Price_USD) AS TotalAmountSpent
    FROM sales s
    JOIN products p ON s.ProductKey = p.ProductKey
    GROUP BY s.CustomerKey
)

-- Main query
SELECT DISTINCT 
    c.Name, 
    c.CustomerKey, 
    ca.Age, 
    c.Country_Customer,
    ct.TotalQuantityPurchased AS QuantityPurchased,
    ct.TotalAmountSpent AS AmountSpent
FROM customers c
JOIN customer_age ca ON c.CustomerKey = ca.CustomerKey
JOIN customer_totals ct ON c.CustomerKey = ct.CustomerKey
CROSS JOIN avg_order_value aov
CROSS JOIN avg_items_purchased aip
WHERE 
    c.Country_Customer = 'United States'
    AND ca.Age BETWEEN 30 AND 40
    AND ct.TotalAmountSpent > aov.AverageOrderValuePerCustomer
    AND ct.TotalQuantityPurchased > aip.AverageItemsPurchasedPerCustomer
ORDER BY c.CustomerKey;
'''

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['Name', 'CustomerKey', 'Age', 'Country_Customer', 'QuantityPurchased', 'AmountSpent']
('Derek Moon', 1202604, 30, 'United States', Decimal('25'), Decimal('13254.98'))
('David Thiele', 1203222, 36, 'United States', Decimal('30'), Decimal('23802.09'))
('David Gonzalez', 1208003, 37, 'United States', Decimal('35'), Decimal('14143.72'))
('Matthew Lint', 1208471, 38, 'United States', Decimal('28'), Decimal('5730.82'))
('Jean Vega', 1208615, 40, 'United States', Decimal('56'), Decimal('17980.03'))
('Betty Coogan', 1226164, 34, 'United States', Decimal('20'), Decimal('6967.66'))
('Peter Minor', 1226752, 37, 'United States', Decimal('18'), Decimal('10971.90'))
('Dianne Avalos', 1228187, 35, 'United States', Decimal('22'), Decimal('7348.95'))
('Luther Horton', 1235559, 37, 'United States', Decimal('27'), Decimal('5069.24'))
('Roxie Minton', 1243894, 36, 'United States', Decimal('38'), Decimal('24683.30'))
('Tony Dee', 1246530, 35, 'United States', Decimal('20'), Decimal('7982.75'))
('Colette Looney', 1246775, 37, 'United States', Decimal('43'), Decimal('22026.26'))
('Jessica Bell', 1247394, 37, 'United States', Decimal('40'), Decimal('10047.98'))
('Colleen Mills', 1250933, 32, 'United States', Decimal('21'), Decimal('5953.71'))
('Shirley Gosha', 1251181, 36, 'United States', Decimal('55'), Decimal('11312.24'))
('Madeline Sluss', 1256256, 39, 'United States', Decimal('53'), Decimal('24321.44'))
('Steven Thornton', 1258056, 39, 'United States', Decimal('29'), Decimal('5219.91'))
('Fletcher Carver', 1264805, 32, 'United States', Decimal('47'), Decimal('8178.37'))
('Brian Rozell', 1266821, 36, 'United States', Decimal('24'), Decimal('5969.62'))
('Juan Green', 1266939, 36, 'United States', Decimal('32'), Decimal('4766.02'))
('Terry Pimental', 1270627, 39, 'United States', Decimal('25'), Decimal('4738.11'))
('David Moore', 1272086, 34, 'United States', Decimal('18'), Decimal('15280.28'))
('Lori Nunez', 1281531, 34, 'United States', Decimal('36'), Decimal('14381.10'))
('Cassandra Garzon', 1282801, 34, 'United States', Decimal('35'), Decimal('32743.52'))
('Sherice Turner', 1285972, 32, 'United States', Decimal('48'), Decimal('14816.68'))
('Frances Colbert', 1286602, 33, 'United States', Decimal('95'), Decimal('27443.91'))
('Cynthia Rodriguez', 1295068, 35, 'United States', Decimal('31'), Decimal('6779.64'))
('Kathy Fowles', 1298027, 33, 'United States', Decimal('33'), Decimal('5418.38'))
('Audrey Whitaker', 1301542, 39, 'United States', Decimal('48'), Decimal('5339.27'))
('Don Young', 1306013, 34, 'United States', Decimal('22'), Decimal('5066.45'))
('Joshua Santiago', 1306101, 33, 'United States', Decimal('35'), Decimal('6453.70'))
('Jeffrey Fries', 1307704, 35, 'United States', Decimal('34'), Decimal('6950.20'))
('Juan Salinas', 1309027, 30, 'United States', Decimal('28'), Decimal('29020.82'))
('Mary Banta', 1310699, 34, 'United States', Decimal('20'), Decimal('7269.50'))
('Scott Brenton', 1311008, 37, 'United States', Decimal('31'), Decimal('17259.89'))
('Roma Dever', 1314859, 36, 'United States', Decimal('19'), Decimal('12815.76'))
('Anthony Turney', 1322032, 39, 'United States', Decimal('25'), Decimal('5027.27'))
('Cathleen Amendola', 1324581, 35, 'United States', Decimal('45'), Decimal('15247.83'))
('Jack Fortune', 1325567, 32, 'United States', Decimal('20'), Decimal('6657.04'))
('Larry Fong', 1325989, 40, 'United States', Decimal('22'), Decimal('5711.52'))
('Glenda Carey', 1328539, 33, 'United States', Decimal('17'), Decimal('5143.94'))
('Jenny Castillo', 1330039, 33, 'United States', Decimal('75'), Decimal('21728.71'))
('Lionel Mackey', 1330560, 38, 'United States', Decimal('37'), Decimal('10397.69'))
('Walter Parker', 1338214, 40, 'United States', Decimal('39'), Decimal('7421.20'))
('Joan Hoang', 1338243, 38, 'United States', Decimal('41'), Decimal('10162.53'))
('Maryann Edmonds', 1342915, 35, 'United States', Decimal('26'), Decimal('9689.75'))
('Katherine Rosales', 1349131, 38, 'United States', Decimal('71'), Decimal('16479.10'))
('Dave Edwards', 1352935, 31, 'United States', Decimal('49'), Decimal('4989.86'))
('John Woody', 1354140, 32, 'United States', Decimal('41'), Decimal('20278.47'))
('Kirk Peed', 1354464, 33, 'United States', Decimal('36'), Decimal('5011.18'))
('Marc Cady', 1355134, 37, 'United States', Decimal('21'), Decimal('4819.04'))
('Belinda Moore', 1355953, 38, 'United States', Decimal('21'), Decimal('5369.76'))
('Frank Barger', 1357114, 36, 'United States', Decimal('23'), Decimal('6327.85'))
('Jimmy Small', 1357822, 38, 'United States', Decimal('59'), Decimal('25529.31'))
('Wendy Larson', 1359024, 36, 'United States', Decimal('29'), Decimal('11588.70'))
('John Barr', 1359325, 33, 'United States', Decimal('32'), Decimal('5945.70'))
('Carlos Stewart', 1363404, 31, 'United States', Decimal('29'), Decimal('5824.37'))
('Bryant Leija', 1366124, 32, 'United States', Decimal('42'), Decimal('9077.18'))
('Cathy Kane', 1367070, 37, 'United States', Decimal('18'), Decimal('14152.28'))
('Erica Jones', 1367542, 30, 'United States', Decimal('21'), Decimal('14211.69'))
('Tomas Powell', 1377272, 33, 'United States', Decimal('39'), Decimal('11126.34'))
('David Breton', 1388023, 35, 'United States', Decimal('95'), Decimal('25236.97'))
('Harriet Rivera', 1388765, 37, 'United States', Decimal('27'), Decimal('6369.19'))
('Michael Simms', 1389855, 30, 'United States', Decimal('37'), Decimal('5763.56'))
('Joshua Herrington', 1392092, 32, 'United States', Decimal('20'), Decimal('10181.54'))
('Eddie Golla', 1392666, 35, 'United States', Decimal('23'), Decimal('6283.42'))
('Douglas Shoffner', 1400201, 33, 'United States', Decimal('30'), Decimal('7040.76'))
('Eddie Murillo', 1401197, 31, 'United States', Decimal('22'), Decimal('5438.48'))
('Rina Pellot', 1402096, 38, 'United States', Decimal('18'), Decimal('4975.81'))
('Lenora Hernandez', 1409340, 32, 'United States', Decimal('53'), Decimal('23868.72'))
('Heather Rodriguez', 1409629, 35, 'United States', Decimal('32'), Decimal('9683.75'))
('Robert Felan', 1416995, 33, 'United States', Decimal('36'), Decimal('13159.82'))
('Heather Miller', 1417693, 36, 'United States', Decimal('39'), Decimal('11710.61'))
('Eileen Cox', 1418119, 38, 'United States', Decimal('20'), Decimal('10821.95'))
('Mario Ferguson', 1423826, 30, 'United States', Decimal('29'), Decimal('7445.56'))
('Brittany McBride', 1423836, 39, 'United States', Decimal('33'), Decimal('5280.07'))
('January Francis', 1425386, 33, 'United States', Decimal('25'), Decimal('5767.91'))
('Joe Johnson', 1426777, 37, 'United States', Decimal('39'), Decimal('11243.73'))
('Michael Sutton', 1436054, 40, 'United States', Decimal('26'), Decimal('5469.83'))
('Robert Downey', 1441384, 40, 'United States', Decimal('33'), Decimal('5344.51'))
('Lee Parks', 1444901, 39, 'United States', Decimal('30'), Decimal('9982.92'))
('Randall Cheatham', 1445735, 34, 'United States', Decimal('33'), Decimal('12015.62'))
('Chelsea Stockton', 1451919, 31, 'United States', Decimal('57'), Decimal('17930.63'))
('Juan Armstrong', 1452039, 39, 'United States', Decimal('48'), Decimal('5615.36'))
('Richard Haman', 1454988, 31, 'United States', Decimal('39'), Decimal('5627.92'))
('Mary Gibson', 1461681, 31, 'United States', Decimal('26'), Decimal('6107.29'))
('Mayola Bell', 1463606, 35, 'United States', Decimal('30'), Decimal('6383.35'))
('Diane Young', 1464274, 37, 'United States', Decimal('30'), Decimal('6846.87'))
('Nancy Ford', 1465552, 37, 'United States', Decimal('23'), Decimal('7128.72'))
('Kelly McGill', 1465839, 37, 'United States', Decimal('50'), Decimal('12242.00'))
('Michael Koch', 1472355, 40, 'United States', Decimal('23'), Decimal('4792.26'))
('Mark Stahl', 1477627, 33, 'United States', Decimal('30'), Decimal('6101.64'))
('Marc Taylor', 1484343, 34, 'United States', Decimal('26'), Decimal('13575.13'))
('Judy Willoughby', 1484484, 30, 'United States', Decimal('17'), Decimal('6458.72'))
('Albert Merritt', 1489650, 35, 'United States', Decimal('24'), Decimal('5231.17'))
('Lynette Carrington', 1490323, 35, 'United States', Decimal('24'), Decimal('7092.39'))
('Margaret Mattson', 1492176, 30, 'United States', Decimal('82'), Decimal('29985.50'))
('Harry Henson', 1499317, 35, 'United States', Decimal('25'), Decimal('8295.92'))
('Vera McClinton', 1511494, 39, 'United States', Decimal('30'), Decimal('10443.95'))
('Wendy Tilley', 1515615, 37, 'United States', Decimal('17'), Decimal('7853.55'))
('Amanda Jones', 1516646, 34, 'United States', Decimal('21'), Decimal('8381.74'))
('Deidre Flynt', 1524428, 39, 'United States', Decimal('25'), Decimal('7228.42'))
('Tina Spencer', 1526388, 30, 'United States', Decimal('48'), Decimal('10774.77'))
('Ester Camacho', 1531435, 40, 'United States', Decimal('22'), Decimal('23083.91'))
('Dionne Taylor', 1531796, 39, 'United States', Decimal('23'), Decimal('5891.21'))
('Toni Helms', 1532276, 31, 'United States', Decimal('22'), Decimal('10425.01'))
('Elizabeth Williams', 1535357, 38, 'United States', Decimal('34'), Decimal('16489.85'))
('Pearl Moore', 1536505, 38, 'United States', Decimal('28'), Decimal('20272.51'))
('Tricia Taylor', 1541524, 30, 'United States', Decimal('34'), Decimal('32984.91'))
('Christopher Rivera', 1545927, 36, 'United States', Decimal('23'), Decimal('5126.85'))
('Nancy Foret', 1546540, 30, 'United States', Decimal('24'), Decimal('14342.00'))
('Maria Kumar', 1549964, 39, 'United States', Decimal('34'), Decimal('9277.38'))
('James Gilpin', 1553271, 31, 'United States', Decimal('45'), Decimal('14128.03'))
('Nellie Estelle', 1557593, 31, 'United States', Decimal('29'), Decimal('12601.22'))
('Mary Bueno', 1557811, 30, 'United States', Decimal('62'), Decimal('21219.41'))
('Sarah Walls', 1558454, 32, 'United States', Decimal('36'), Decimal('6412.53'))
('Michelle Washington', 1566368, 37, 'United States', Decimal('41'), Decimal('14713.56'))
('Olivia Zack', 1567347, 30, 'United States', Decimal('48'), Decimal('25855.16'))
('Roberto Anaya', 1567503, 33, 'United States', Decimal('32'), Decimal('7763.69'))
('Chester Butler', 1568316, 31, 'United States', Decimal('30'), Decimal('9821.87'))
('Joey Lapham', 1571311, 35, 'United States', Decimal('52'), Decimal('27283.02'))
('Judy Arambula', 1572525, 37, 'United States', Decimal('39'), Decimal('11610.90'))
('Jaime Miller', 1575457, 36, 'United States', Decimal('42'), Decimal('5028.33'))
('James Craft', 1577700, 34, 'United States', Decimal('33'), Decimal('7323.76'))
('Ted White', 1582099, 33, 'United States', Decimal('25'), Decimal('7021.95'))
('Ruby Brown', 1586491, 38, 'United States', Decimal('30'), Decimal('5931.08'))
('Robert Carson', 1590518, 31, 'United States', Decimal('25'), Decimal('4772.21'))
('Pamella Vinson', 1593111, 34, 'United States', Decimal('17'), Decimal('8296.64'))
('Joshua Robinson', 1593888, 31, 'United States', Decimal('28'), Decimal('5482.69'))
('Joyce Bird', 1594919, 33, 'United States', Decimal('37'), Decimal('7243.96'))
('Donald Williams', 1599683, 38, 'United States', Decimal('66'), Decimal('14695.12'))
('Janice Bradford', 1601387, 31, 'United States', Decimal('38'), Decimal('12128.16'))
('Joseph Hamilton', 1602426, 36, 'United States', Decimal('60'), Decimal('14128.86'))
('Kelly Webb', 1605350, 39, 'United States', Decimal('33'), Decimal('7557.04'))
('Minnie Shultz', 1609149, 32, 'United States', Decimal('48'), Decimal('11164.81'))
('Michael Guthridge', 1611938, 37, 'United States', Decimal('17'), Decimal('4902.94'))
('Jonathan Myers', 1613285, 37, 'United States', Decimal('22'), Decimal('9428.98'))
('John McCray', 1625297, 34, 'United States', Decimal('56'), Decimal('11191.79'))
('Joanne Chew', 1628727, 35, 'United States', Decimal('45'), Decimal('8283.04'))
('Matthew Fasano', 1632235, 32, 'United States', Decimal('32'), Decimal('6707.06'))
('Gertrude Spencer', 1632302, 34, 'United States', Decimal('36'), Decimal('18795.80'))
('Sadie Williamson', 1634778, 30, 'United States', Decimal('47'), Decimal('21428.09'))
('Randy Snider', 1635130, 36, 'United States', Decimal('18'), Decimal('6931.65'))
('Robert Trew', 1637399, 31, 'United States', Decimal('31'), Decimal('5483.82'))
('Joan White', 1639435, 38, 'United States', Decimal('25'), Decimal('7145.12'))
('Michael Leatherwood', 1640519, 37, 'United States', Decimal('17'), Decimal('4734.97'))
('Gary Russell', 1643550, 33, 'United States', Decimal('34'), Decimal('8487.57'))
('Herman Ransom', 1650488, 36, 'United States', Decimal('17'), Decimal('7885.14'))
('Bradley Ortega', 1653099, 34, 'United States', Decimal('23'), Decimal('9452.34'))
('Robert Patterson', 1654502, 37, 'United States', Decimal('17'), Decimal('6139.95'))
('Chad Beale', 1662334, 32, 'United States', Decimal('37'), Decimal('6996.20'))
('Robert Jonas', 1668458, 33, 'United States', Decimal('49'), Decimal('14539.57'))
('Shaun Steele', 1669021, 33, 'United States', Decimal('57'), Decimal('7919.57'))
('Joseph Hebron', 1669695, 35, 'United States', Decimal('23'), Decimal('5072.95'))
('Amalia Ray', 1669971, 37, 'United States', Decimal('34'), Decimal('14592.61'))
('Sarah Guillory', 1670107, 32, 'United States', Decimal('39'), Decimal('7593.27'))
('William Mansfield', 1670940, 30, 'United States', Decimal('44'), Decimal('7487.37'))
('Thomas Greenbaum', 1676402, 40, 'United States', Decimal('22'), Decimal('6625.05'))
('Jackie Smith', 1676628, 32, 'United States', Decimal('22'), Decimal('5582.32'))
('Gladys Raley', 1684157, 32, 'United States', Decimal('35'), Decimal('9784.62'))
('Eloisa Grant', 1684931, 36, 'United States', Decimal('21'), Decimal('4947.61'))
('Rupert Weaver', 1686269, 38, 'United States', Decimal('28'), Decimal('7936.98'))
('George Shirley', 1686814, 39, 'United States', Decimal('35'), Decimal('10538.79'))
('Rebecca Nelson', 1688415, 30, 'United States', Decimal('24'), Decimal('8363.93'))
('Inez Grant', 1693175, 31, 'United States', Decimal('22'), Decimal('20532.66'))
('Michael Vasquez', 1693705, 40, 'United States', Decimal('33'), Decimal('7469.44'))
('Bessie Mack', 1694419, 39, 'United States', Decimal('35'), Decimal('21614.12'))
('Peter Lugo', 1697375, 33, 'United States', Decimal('44'), Decimal('11044.17'))
('Mary Fredericksen', 1697467, 39, 'United States', Decimal('40'), Decimal('13766.62'))
('John Iraheta', 1699570, 36, 'United States', Decimal('21'), Decimal('5508.87'))
('Dee Pickens', 1702898, 31, 'United States', Decimal('42'), Decimal('12649.96'))
('Kara Bautista', 1704454, 40, 'United States', Decimal('35'), Decimal('7269.98'))
('Loretta Crumrine', 1705952, 32, 'United States', Decimal('22'), Decimal('7626.00'))
('Dustin Bradley', 1716827, 34, 'United States', Decimal('26'), Decimal('5233.16'))
('David Senn', 1718240, 37, 'United States', Decimal('74'), Decimal('9385.93'))
('Barbara Myers', 1723372, 37, 'United States', Decimal('27'), Decimal('4826.66'))
('Lisa Crenshaw', 1724062, 40, 'United States', Decimal('34'), Decimal('9558.17'))
('Ralph Talley', 1724286, 39, 'United States', Decimal('24'), Decimal('10224.34'))
('Vida Brown', 1727561, 30, 'United States', Decimal('45'), Decimal('12927.00'))
('Jeffery Howell', 1729199, 34, 'United States', Decimal('19'), Decimal('6704.52'))
('Kelly Damian', 1733897, 32, 'United States', Decimal('27'), Decimal('5250.90'))
('Robbie Miller', 1733927, 30, 'United States', Decimal('20'), Decimal('6257.76'))
('Martha Thornton', 1736139, 37, 'United States', Decimal('103'), Decimal('28425.35'))
('Mark Jackson', 1737854, 34, 'United States', Decimal('25'), Decimal('6514.56'))
('Mathew Johnson', 1738763, 36, 'United States', Decimal('23'), Decimal('6973.93'))
('Mary Mendoza', 1748140, 30, 'United States', Decimal('45'), Decimal('11705.97'))
('Ronald Voigt', 1750451, 33, 'United States', Decimal('28'), Decimal('5097.66'))
('Toni Morel', 1750554, 33, 'United States', Decimal('42'), Decimal('14888.42'))
('George Nixon', 1751015, 30, 'United States', Decimal('32'), Decimal('9068.25'))
('Marybeth Kelly', 1751091, 33, 'United States', Decimal('49'), Decimal('10109.36'))
('Marilee Maxwell', 1753015, 30, 'United States', Decimal('38'), Decimal('5287.71'))
('Lewis Rountree', 1754573, 31, 'United States', Decimal('23'), Decimal('5354.58'))
('Linda Williams', 1755730, 33, 'United States', Decimal('26'), Decimal('5825.94'))
('Carol Goldstein', 1755993, 37, 'United States', Decimal('22'), Decimal('8935.90'))
('Damon Meadows', 1762395, 36, 'United States', Decimal('28'), Decimal('5526.76'))
('Dawn Munoz', 1765360, 35, 'United States', Decimal('34'), Decimal('6367.95'))
('William Dyar', 1767858, 34, 'United States', Decimal('21'), Decimal('24046.99'))
('Joseph Orr', 1773061, 31, 'United States', Decimal('18'), Decimal('6409.95'))
('Timothy Carignan', 1773702, 39, 'United States', Decimal('30'), Decimal('8041.04'))
('James Chatman', 1774187, 37, 'United States', Decimal('22'), Decimal('8297.00'))
('Dorothy Atkinson', 1777744, 38, 'United States', Decimal('27'), Decimal('5858.65'))
('Barbara Claytor', 1780040, 34, 'United States', Decimal('35'), Decimal('32975.15'))
('Mark Staples', 1780687, 38, 'United States', Decimal('28'), Decimal('7096.04'))
('Robert Meyers', 1781953, 36, 'United States', Decimal('23'), Decimal('4908.17'))
('Roger Griffith', 1783167, 40, 'United States', Decimal('19'), Decimal('6300.46'))
('Eugene Bouchard', 1784345, 40, 'United States', Decimal('21'), Decimal('7734.00'))
('Zachary Johnson', 1796381, 33, 'United States', Decimal('20'), Decimal('6752.70'))
('Mary Fernandez', 1796950, 35, 'United States', Decimal('41'), Decimal('8218.77'))
('Lorraine Simmerman', 1802074, 35, 'United States', Decimal('19'), Decimal('6371.50'))
('Courtney Young', 1810728, 30, 'United States', Decimal('38'), Decimal('6464.11'))
('Walter Garland', 1811457, 34, 'United States', Decimal('21'), Decimal('4905.94'))
('George Clark', 1814434, 37, 'United States', Decimal('36'), Decimal('10110.68'))
('Wendy Gupta', 1814733, 35, 'United States', Decimal('22'), Decimal('6025.62'))
('Brandon Roy', 1816342, 39, 'United States', Decimal('51'), Decimal('14834.25'))
('Michael Thompson', 1823649, 40, 'United States', Decimal('20'), Decimal('5290.92'))
('Angelina Forehand', 1827725, 37, 'United States', Decimal('25'), Decimal('5231.10'))
('Jill Grant', 1830019, 38, 'United States', Decimal('25'), Decimal('27973.95'))
('Eddy Grider', 1833615, 34, 'United States', Decimal('31'), Decimal('10762.23'))
('Katherine Red', 1836318, 36, 'United States', Decimal('27'), Decimal('5710.20'))
('Sherrie Horne', 1837049, 33, 'United States', Decimal('27'), Decimal('5048.31'))
('Donald Garcia', 1838893, 37, 'United States', Decimal('20'), Decimal('8704.56'))
('William Falcon', 1839627, 34, 'United States', Decimal('19'), Decimal('6808.83'))
('Bryan Knight', 1841571, 33, 'United States', Decimal('21'), Decimal('5138.87'))
('Fred Kea', 1842350, 39, 'United States', Decimal('33'), Decimal('7921.84'))
('Arron Carreon', 1843636, 38, 'United States', Decimal('45'), Decimal('10078.81'))
('Thomas Presley', 1847709, 37, 'United States', Decimal('34'), Decimal('8390.87'))
('Chad Coon', 1849306, 39, 'United States', Decimal('82'), Decimal('19204.32'))
('Amanda Middleton', 1849584, 32, 'United States', Decimal('20'), Decimal('10728.15'))
('Justin Moten', 1851698, 35, 'United States', Decimal('40'), Decimal('11622.74'))
('Greg White', 1854270, 31, 'United States', Decimal('37'), Decimal('5723.23'))
('David Myers', 1854956, 39, 'United States', Decimal('18'), Decimal('9078.56'))
('Anna Collard', 1857129, 40, 'United States', Decimal('32'), Decimal('6202.48'))
('Richard Krauss', 1857436, 34, 'United States', Decimal('24'), Decimal('5488.44'))
('Holly Prichard', 1861844, 36, 'United States', Decimal('46'), Decimal('10410.18'))
('Susan McDonald', 1864693, 33, 'United States', Decimal('21'), Decimal('5058.78'))
('Darci Dorsey', 1878163, 38, 'United States', Decimal('72'), Decimal('16205.30'))
('Haley Cassell', 1882594, 39, 'United States', Decimal('24'), Decimal('5660.46'))
('Robert Segura', 1883630, 36, 'United States', Decimal('53'), Decimal('13028.97'))
('Pearlie Rice', 1883981, 37, 'United States', Decimal('58'), Decimal('11696.72'))

In [12]:
# 4. Sales by Product: Evaluate which products are the top performers in terms of quantity sold and revenue generated.
# below is the SQL query to get the product name, product key, and total quantity sold for the top 5 products sold by quantity
query = """SELECT 
    p.Product_Name,
    p.ProductKey,
    SUM(s.Quantity) AS TotalQuantitySold
FROM 
    products p
JOIN 
    sales s ON p.ProductKey = s.ProductKey
GROUP BY 
    p.ProductKey, p.Product_Name
ORDER BY 
    TotalQuantitySold DESC
LIMIT 5;"""

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['Product_Name', 'ProductKey', 'TotalQuantitySold']
('WWI Desktop PC2.33 X2330 Black', 444, Decimal('550'))
('WWI Desktop PC1.80 E1800 White', 458, Decimal('538'))
('Adventure Works Desktop PC1.60 ED160 Black', 424, Decimal('521'))
('Adventure Works Desktop PC2.30 MD230 White', 434, Decimal('521'))
('Adventure Works Desktop PC1.80 ED180 Black', 425, Decimal('520'))

In [15]:
# 5. below is the SQL query to get the product name, product key, and total revenue generated for the top 5 products by revenue.
query = """SELECT 
    p.Product_Name,
    p.ProductKey,
    SUM(s.Quantity * p.Unit_Price_USD) AS TotalRevenue_in_USD
FROM 
    products p
JOIN 
    sales s ON p.ProductKey = s.ProductKey
GROUP BY 
    p.ProductKey, p.Product_Name
ORDER BY 
    TotalRevenue_in_USD DESC
LIMIT 5;"""

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['Product_Name', 'ProductKey', 'TotalRevenue_in_USD']
('WWI Desktop PC2.33 X2330 Black', 444, Decimal('505450.00'))
('Adventure Works Desktop PC2.33 XD233 Silver', 416, Decimal('466089.00'))
('Adventure Works Desktop PC2.33 XD233 Brown', 428, Decimal('464151.00'))
('Adventure Works Desktop PC2.33 XD233 Black', 422, Decimal('447678.00'))
('Adventure Works Desktop PC2.33 XD233 White', 433, Decimal('437019.00'))

In [16]:
# 6. Sales by Store: Assess the performance of different stores based on sales data.
# MySQL query to get the StoreKey, Country_Store, and total revenue for the top 5 stores by total revenue

query = """SELECT 
    s.StoreKey,
    st.Country_Store,
    SUM(s.Quantity * p.Unit_Price_USD) AS TotalRevenue
FROM 
    sales s
JOIN 
    products p ON s.ProductKey = p.ProductKey
JOIN 
    stores st ON s.StoreKey = st.StoreKey
GROUP BY 
    s.StoreKey, st.Country_Store
ORDER BY 
    TotalRevenue DESC
LIMIT 5;
"""
cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['StoreKey', 'Country_Store', 'TotalRevenue']
(0, 'Online', Decimal('11404324.63'))
(55, 'United States', Decimal('2835770.82'))
(50, 'United States', Decimal('2789476.12'))
(54, 'United States', Decimal('2768792.48'))
(9, 'Canada', Decimal('2672300.12'))

In [22]:
# 7. Product Popularity: Identify the most and least popular products based on sales data.

# identifying most popular product based on total revenue generated
query = """SELECT 
    p.Product_Name,
    p.ProductKey,
    SUM(s.Quantity * p.Unit_Price_USD) AS TotalRevenue
FROM 
    products p
JOIN 
    sales s ON p.ProductKey = s.ProductKey
GROUP BY 
    p.ProductKey, p.Product_Name
ORDER BY 
    TotalRevenue DESC
LIMIT 5;"""

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['Product_Name', 'ProductKey', 'TotalRevenue']
('WWI Desktop PC2.33 X2330 Black', 444, Decimal('505450.00'))
('Adventure Works Desktop PC2.33 XD233 Silver', 416, Decimal('466089.00'))
('Adventure Works Desktop PC2.33 XD233 Brown', 428, Decimal('464151.00'))
('Adventure Works Desktop PC2.33 XD233 Black', 422, Decimal('447678.00'))
('Adventure Works Desktop PC2.33 XD233 White', 433, Decimal('437019.00'))

In [23]:
# 8. Product Popularity: Identify the most and least popular products based on sales data.

# identifying least popular product based on total revenue generated
query = """SELECT 
    p.Product_Name,
    p.ProductKey,
    SUM(s.Quantity * p.Unit_Price_USD) AS TotalRevenue
FROM 
    products p
JOIN 
    sales s ON p.ProductKey = s.ProductKey
GROUP BY 
    p.ProductKey, p.Product_Name
ORDER BY 
    TotalRevenue ASC
LIMIT 5;"""

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['Product_Name', 'ProductKey', 'TotalRevenue']
('SV USB Data Cable E600 Silver', 921, Decimal('15.20'))
('SV USB Sync Charge Cable E700 Silver', 926, Decimal('15.92'))
('Litware 80mm Dual Ball Bearing Case Fan E1001 Green', 2445, Decimal('19.96'))
('SV USB Data Cable E600 Grey', 922, Decimal('21.85'))
('SV USB Data Cable E600 Pink', 919, Decimal('25.65'))

In [25]:
# 9. Product Popularity: Identify the most and least popular products based on sales data.

# identifying most popular product based on total quantity sold

query = """SELECT 
    p.Product_Name,
    p.ProductKey,
    SUM(s.Quantity) AS TotalQuantitySold
FROM 
    products p
JOIN 
    sales s ON p.ProductKey = s.ProductKey
GROUP BY 
    p.ProductKey, p.Product_Name
ORDER BY 
    TotalQuantitySold DESC
LIMIT 5;"""

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['Product_Name', 'ProductKey', 'TotalQuantitySold']
('WWI Desktop PC2.33 X2330 Black', 444, Decimal('550'))
('WWI Desktop PC1.80 E1800 White', 458, Decimal('538'))
('Adventure Works Desktop PC1.60 ED160 Black', 424, Decimal('521'))
('Adventure Works Desktop PC2.30 MD230 White', 434, Decimal('521'))
('Adventure Works Desktop PC1.80 ED180 Black', 425, Decimal('520'))

In [26]:
# 10. Product Popularity: Identify the most and least popular products based on sales data.

# identifying least popular product based on total quantity sold

query = """SELECT 
    p.Product_Name,
    p.ProductKey,
    SUM(s.Quantity) AS TotalQuantitySold
FROM 
    products p
JOIN 
    sales s ON p.ProductKey = s.ProductKey
GROUP BY 
    p.ProductKey, p.Product_Name
ORDER BY 
    TotalQuantitySold ASC
LIMIT 5;"""

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['Product_Name', 'ProductKey', 'TotalQuantitySold']
('WWI Wall Lamp E315 White', 2243, Decimal('1'))
('Adventure Works Desk Lamp E1300 Black', 2196, Decimal('1'))
('Proseware Wall Lamp E0215 Blue', 2306, Decimal('1'))
('WWI Floor Lamp X115 Blue', 2262, Decimal('1'))
('WWI Floor Lamp M215 Grey', 2255, Decimal('1'))

In [18]:
# 11. Profitability Analysis: Calculate profit margins for products by comparing unit cost and unit price.
# sql query to display productkey, product name, total profit, total revenue and profit margins
# of products having highest profit margins

query = """WITH product_profits AS (
    SELECT 
        p.ProductKey,
        p.Product_Name,
        SUM(s.Quantity * (p.Unit_Price_USD - p.Unit_Cost_USD)) AS TotalProfit,
        SUM(s.Quantity * p.Unit_Price_USD) AS TotalRevenue,
        (SUM(s.Quantity * (p.Unit_Price_USD - p.Unit_Cost_USD)) / (SUM(s.Quantity * p.Unit_Price_USD))) * 100 AS ProfitMargin
    FROM 
        products p
    JOIN 
        sales s ON p.ProductKey = s.ProductKey
    GROUP BY 
        p.ProductKey, p.Product_Name
),
ranked_products AS (
    SELECT 
        *,
        RANK() OVER (ORDER BY ProfitMargin DESC) AS ProfitMarginRank
    FROM 
        product_profits
)
SELECT 
    ProductKey,
    Product_Name,
    TotalProfit,
    TotalRevenue,
    ProfitMargin
FROM 
    ranked_products
WHERE 
    ProfitMarginRank = 1
ORDER BY 
    TotalProfit DESC;
"""
cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['ProductKey', 'Product_Name', 'TotalProfit', 'TotalRevenue', 'ProfitMargin']
(1635, 'Contoso DVD 60 DVD Storage Binder L20 Silver', Decimal('4761.41'), Decimal('7118.79'), Decimal('66.885103'))
(1590, 'SV DVD 60 DVD Storage Binder L20 Silver', Decimal('4746.10'), Decimal('7095.90'), Decimal('66.885103'))
(1585, 'SV DVD 60 DVD Storage Binder L20 Black', Decimal('4669.55'), Decimal('6981.45'), Decimal('66.885103'))
(1595, 'SV DVD 60 DVD Storage Binder L20 Red', Decimal('4240.87'), Decimal('6340.53'), Decimal('66.885103'))
(1640, 'Contoso DVD 60 DVD Storage Binder L20 Red', Decimal('4072.46'), Decimal('6088.74'), Decimal('66.885103'))
(1630, 'Contoso DVD 60 DVD Storage Binder L20 Black', Decimal('3888.74'), Decimal('5814.06'), Decimal('66.885103'))

In [20]:
# 12. Category Analysis: Analyze sales performance across different product categories and subcategories.

# sql query to get total revenue across different product categories and subcategories

query = """SELECT 
    p.Category,
    p.Subcategory,
    SUM(s.Quantity * p.Unit_Price_USD) AS TotalRevenue
FROM 
    products p
LEFT JOIN 
    sales s ON p.ProductKey = s.ProductKey
GROUP BY 
    p.Category,
    p.Subcategory
ORDER BY 
    p.Category,
    p.Subcategory,
    TotalRevenue DESC;"""

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['Category', 'Subcategory', 'TotalRevenue']
('Audio', 'Bluetooth Headphones', Decimal('1380400.74'))
('Audio', 'MP4&MP3', Decimal('478802.45'))
('Audio', 'Recording Pen', Decimal('1310424.55'))
('Cameras and camcorders', 'Camcorders', Decimal('3357990.00'))
('Cameras and camcorders', 'Cameras & Camcorders Accessories', Decimal('381856.82'))
('Cameras and camcorders', 'Digital Cameras', Decimal('885679.80'))
('Cameras and camcorders', 'Digital SLR Cameras', Decimal('1894641.40'))
('Cell phones', 'Cell phones Accessories', Decimal('128948.34'))
('Cell phones', 'Home & Office Phones', Decimal('165723.88'))
('Cell phones', 'Smart phones & PDAs', Decimal('2805657.00'))
('Cell phones', 'Touch Screen Phones', Decimal('3083462.00'))
('Computers', 'Computers Accessories', Decimal('211345.76'))
('Computers', 'Desktops', Decimal('9906356.50'))
('Computers', 'Laptops', Decimal('3164777.20'))
('Computers', 'Monitors', Decimal('1518116.00'))
('Computers', 'Printers, Scanners & Fax', Decimal('733478.00'))
('Computers', 'Projectors & Screens', Decimal('3767522.00'))
('Games and Toys', 'Boxed Games', Decimal('91951.06'))
('Games and Toys', 'Download Games', Decimal('632878.37'))
('Home Appliances', 'Air Conditioners', Decimal('333585.16'))
('Home Appliances', 'Coffee Machines', Decimal('1167739.71'))
('Home Appliances', 'Fans', Decimal('99370.50'))
('Home Appliances', 'Lamps', Decimal('272965.96'))
('Home Appliances', 'Microwaves', Decimal('1101482.95'))
('Home Appliances', 'Refrigerators', Decimal('2152664.41'))
('Home Appliances', 'Washers & Dryers', Decimal('2119847.40'))
('Home Appliances', 'Water Heaters', Decimal('3547822.50'))
('Music, Movies and Audio Books', 'Movie DVD', Decimal('3131006.44'))
('TV and Video', 'Car Video', Decimal('587888.00'))
('TV and Video', 'Home Theater System', Decimal('718397.30'))
('TV and Video', 'Televisions', Decimal('4308719.19'))
('TV and Video', 'VCD & DVD', Decimal('313978.20'))

In [21]:
# 13. Geographical Analysis: Analyze sales by store location to identify high-performing regions.

query = """SELECT 
    st.Country_Store,
    SUM(s.Quantity * p.Unit_Price_USD) AS TotalRevenue
FROM 
    sales s
JOIN 
    products p ON s.ProductKey = p.ProductKey
JOIN 
    stores st ON s.StoreKey = st.StoreKey
GROUP BY 
    st.Country_Store
ORDER BY 
    TotalRevenue DESC;"""

cursor.execute(query)

results = cursor.fetchall()

# Fetching the column names
column_names = [i[0] for i in cursor.description]

# Printing the column names
print(column_names)
for row in results:
    print(row)

['Country_Store', 'TotalRevenue']
('United States', Decimal('47528851.72'))
('United Kingdom', Decimal('11499539.56'))
('Online', Decimal('11404324.63'))
('Germany', Decimal('8492558.44'))
('Canada', Decimal('7223123.58'))
('Australia', Decimal('4198282.14'))
('Italy', Decimal('4118173.62'))
('Netherlands', Decimal('3182688.96'))
('France', Decimal('2459091.90'))

In [27]:
cursor.close()
con.close()